---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Finance by EduCentrals. <a href="https://educentrals.com/">This Main Blog</a>! <3
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
		font-size: 0.8rem;
	}
</style>
